# Web framework
fastapi[standard]

# Database & ORM
sqlmodel
psycopg[binary]
geoalchemy2
alembic

# Math & Navigation Logic
networkx
shapely
numpy
matplotlib

# Utilities
python-multipart
pydantic-settings